*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container__left{
    width: 57%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.left__element{
    margin: 14px 50px;
    margin-right: 8px;
    padding: 10px;
    border-bottom: 2px solid #ca3431;
}

.left__element::before{
    content: '/';
    width: 20px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    background-color: #ca3431;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
}
.container__about-me::after{
    content: '';
    width: 2px;
    height: 130px;
    position: absolute;
    margin-left: -12px;
    margin-top: -120px;
    border-right: 2px solid #ca3431;
}

.container__position::after{
    content: '';
    width: 2px;
    height: 130px;
    position: absolute;
    margin-left: -12px;
    margin-top: -120px;
    border-right: 2px solid #ca3431;
}

.container__education::after{
    content: '';
    width: 2px;
    height: 90px;
    position: absolute;
    margin-left: -12px;
    margin-top: -80px;
    border-right: 2px solid #ca3431;
}

.container__exp::after{
    content: '';
    width: 2px;
    height: 130px;
    position: absolute;
    margin-left: -12px;
    margin-top: -120px;
    border-right: 2px solid #ca3431;
}

.left__element h3{
    font-size: 24px;
    font-weight: 600;
    margin: 12px 18px;
}

.left__element h5{
    font-size: calc(14px + 0.105em);
    font-weight: 600;
    line-height: 26px;
}
h1{
    margin: 50px 40px 16px 50px;
    font-weight: 500;
}

h1 span{
    font-weight: 600;
}

.container__right{
    width: 39%;
    height: 90%;
    /* background-color: rgba(165, 42, 42, 0.253); */
    display: flex;
    flex-direction: column;
}

.right__element{
    margin: 14px 50px;
    padding: 8px;
    border-right: 2px solid #ca3431;
    border-top: 2px solid #ca3431;
}

.right__element:nth-child(1){
    border: none;
}

.container__photo{
    margin-top: 50px;
}

.right__element h3{
    font-size: 24px;
    font-weight: 600;
}

ul{
    list-style:none;
}

li{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}


@media screen and (max-width: 1300px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 880px){}

@media screen and (max-width: 700px){
    .container{
        width: 100%;
    }

    .left__element h3{
        font-size: 15px;
    }

    .left__element h5{
        font-size: 10px;
        line-height: 16px;
    }

    img{
        height: 100px;
        width: 100px;
    }

    .right__element h3{
        font-size: 13px;
    }

    .right__element ul li{
        font-size: 10px;
        line-height: 10px;
    }

    .right__element h3{
        font-size: 13px;
    }

    .right__element ul li{
        font-size: 10px;
        line-height: 10px;
    }

    .right__element{
        width: 130px;
        margin: 20px 0;
    }
    
    .container__about-me::after{
        height: 85px;
        margin-top: -75px;
    }

    .container__position::after{
        height: 105px;
        margin-top: -95px;
    }

    .container__education::after{
        height: 70px;
        margin-top: -60px;
    }

    .container__exp::after{
        height: 100px;
        margin-top: -90px;
    }
}

@media screen and (max-width: 432px){
    .left__element h3{
        font-size: 13px;
    }
    .container__position::after{
        height: 100px;
        margin-top: -90px;
    }
}

@media screen and (max-width: 400px){
    .container{
        width: 100%;
    }

    .container__left{
        width: 60%;
    }

    .container__right{
        width: 40%;
    }

    .right__element{
        width: 130px;
        margin: 20px 0;
    }

    .left__element h3{
        font-size: 11px;
    }

    .left__element h5{
        font-size: 9px;
        line-height: 12px;
    }

    h1{
        font-size: 15px;
    }

    .left__element{
        margin: 8px 40px;
    }

    .container__about-me::after{
        height: 85px;
        margin-top: -75px;
    }

    .container__position::after{
        height: 95px;
        margin-top: -85px;
    }

    img{
        height: 100px;
        width: 100px;
    }

    .right__element h3{
        font-size: 12px;
    }

    .right__element ul li{
        font-size: 10px;
        line-height: 10px;
    }

    .left__element::before{
        content: '/';
        width: 16px;
        height: 24px;
        position: absolute;
        margin-top: 10px;
        margin-left: -10px;
        background-color: #ca3431;
        text-align: center;
        line-height: 24px;
        font-weight: 600;
    }

    .container__courses::after{
        height: 70px;
        margin-top: -60px;
    }

    .container__education::after{
        height: 70px;
        margin-top: -60px;
    }

    .container__exp::after{
        height: 115px;
        margin-top: -105px;
    }
}
